* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff7ed;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding: 0 1rem;
}

.main-site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a, 
.host-page-nav a,
.host-details-nav a,
.host-vans-main-container a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    /* padding: 5px 20px; */
}

header a:hover,
.host-page-nav a:hover,
.host-details-nav a:hover,
.host-vans-main-container a:hover {
    color: #161616;
    text-decoration: underline;
}


.main-nav {
    display: flex;
    gap: 17px;
    align-items: center;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: white;
    padding: 45px 23px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}

/*  VANS PAGE */

.vans-list-wrapper {
    padding: 0 20px;
}

.van-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 30px 0;
    column-gap: 20px;
    row-gap: 40px;
}

.van-tile {
    min-height: 250px;
}

.image-container {
    position: relative;
  width: 100%;
  padding-bottom: 100%; /* Set padding to create a 1:1 aspect ratio */
  overflow: hidden;
}

.van-tile img {
    position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px;
}

.van-tile a {
    text-decoration: none;
    color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    gap: 10px;
}

.van-tile h1 {
    margin: 0;
    font-size: 1.25rem;
}

.van-tile p {
    margin: 0;
    font-size: 1.25rem;
}

.van-tile span {
    font-size: 1rem;
}

.loading {
    margin: 50px auto;
}

.van-detailed-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    align-items: flex-start;
    
}

.van-detailed-wrapper img {
    border-radius: 10px;
    position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.van-detailed-wrapper .image-container {
    margin-bottom: 20px;
}

.van-detailed-wrapper p {
    margin-top: 0;
}

.van-detailed-wrapper h1 {
    margin-bottom: 10px;
}

.van-detailed-wrapper button{
    background-color: #ff8c38;
    font-size: 1.125rem;
    color: white;
    align-self: stretch;
    padding: .75rem 1.375rem;
    border: none;
    border-radius: 5px;
}

.van-type {
    background-color: #ffead0;
    padding: 12px 30px;
    border-radius: 5px;
    color: #4d4d4d;
    font-weight: 500;
    display: inline;
    border: none;
    text-align: center;
    align-self: flex-start;
}

.van-type.selected,
.van-type:hover {
    color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background: #e17654;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background: #161616;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background: #115E59;;
}






footer {
    background-color: #161616;
    color: #aaaaaa;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.back-button {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: 26px;
}

.back-button-details {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.filter-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    padding: 10px 20px;
}

.filter-clear {
    border: none;
    background: none;
}

/* HOST PAGE */

.host-page-nav {
    display: flex;
    margin-left: 25px;
    gap: 20px;
}

.host-vans-wrapper {
    display: flex;
    padding: 20px 20px;
    background-color: white;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}


.host-vans-img-container{
    position: relative;
    width: 20%;
    padding-bottom: 20%; 
    margin-right: 10px;
}

.host-vans-img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
      border-radius: 10px;

}

.host-vans-wrapper h1 {
    font-size: 1rem;
}

.host-vans-main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 2rem;
}

.host-vans-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.3rem;
}

.host-vans-top a {
    margin-left: auto;
    display: flex;
}

.host-vans-top span {
    margin-right: .2rem;
}

.host-van-detail-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    position: relative;
}

.host-van-detail-top {
    display: flex;
    gap: 20px;
}

.host-van-detail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.host-van-detail-right p, h3 {
    margin: 0;
}

.host-van-detail-right span {
    font-weight: bold;
}

.host-van-detail-top img {
    width: 150px;
}

.host-van-detail-badge {
    align-self: flex-start;
}

.host-details-nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.host-vans-info-container span {
    font-weight: bold;
}

.detail-btn {
    padding-left: initial !important;
}

.host-dash-top {
    margin-top: 2.25rem;
    background-color: #FFEAD0;
    display: flex;
    padding: 0 2rem;
}

.dash-top-left {
    margin-right: auto;
}

.dash-top-right {
    margin-top: auto;
    margin-bottom: auto;
}

.host-dash-mid {
    background-color: #FFDDB2;
    display: flex;
    padding: 0 2rem;
    font-weight: bold;
}

.host-dash-mid span {
    margin-left: 10px;
    font-weight: 300;
}

.host-dash-bottom {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
}

.fa-star {
    padding-top: 1px;
}

.details {
    font-weight: initial;
}

.host-dash-bottom h3 {
    margin-right: auto;
}

.review-score {
    margin-right: auto;
}

.host-income-top {
    margin: 1.625rem;
}

.chart-container {
    margin: 0 1.625rem;
}

.transactions {
    margin-bottom: 2rem;
}

.transactions-header {
    display: flex;
    align-items: center;
    margin: 1rem 1.625rem;
}

.transactions-header p {
    margin-left: auto;
    color: #4D4D4D;
}

.transactions p {
    margin-left: auto;
}

.add-van-form {
    display: flex;
    flex-direction: column;
    padding: 1.625rem;
    gap: 1rem;
}

.add-van-form input, select, textarea {
    overflow: visible;
    padding: 1rem;
    border: none;
    background: #FFEAD0;
    border-radius: 5px;
}




/* LOGIN */

.login-container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.login-container h1 {
    font-size: 1.5rem;
    text-align: center;
}

.login-container h3 {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    background-color: fff;
    border: 1px solid lightgray;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.login-form button {
    background-color: #FF8C38;
    color: white;
    margin-top: 1.25rem;
}

input[type=email] {
    border-radius: 6px 6px 0px 0px;
}

input[type=password] {
    border-radius: 0px 0px 6px 6px;
}

.logout-btn {
    background-color: #ff8c38;
    font-size: 1.125rem;
    color: white;
    align-self: stretch;
    padding: 0.75rem 1.375rem;
    border: none;
    border-radius: 5px;
    width: 75%;
    margin: auto auto 2rem;
}

/* EDIT MODAL */

.modal-wrapper {
    min-height: 80vh;
    max-height: 80vh;
    position: fixed;
    background-color: #fff;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
}

.modal-wrapper input, textarea, select {
    border: none;
    background-color: #FFF7ED;
    padding: 1rem;
    box-shadow: 0px 0px 1.2px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: .75rem;
}

.modal-wrapper textarea {
    width: 100%;
    resize: none;
    min-height: 167px !important;
}

.modal-wrapper label {
    font-weight: bold;
    line-height: 200%;
    padding-left: .75rem;
    margin-top: 1rem;
}

.edit-icon {
    position: absolute;
    right: 15;
    top: 15px;
    cursor: pointer;
}

.trash-can {
    align-self: end;
    margin-right: 0.75rem;
    margin-top: 1rem;
    overflow: visible;
    cursor: pointer;
}


.modal-button-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-button-wrapper button {
    display: flex;
    width: 104px;
    height: 37px;
    padding: 6px 26px 7px 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    color: #FFEAD0
}

.orange {
    background-color: #FF8C38;
}

.black {
    background-color: #161616;
}

.delete-modal {
    min-height: 55vh;
    position: fixed;
    background-color: #fff;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2rem;
    display: flex;
    /* flex-direction: column; */
    padding: 1rem 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.delete-modal-btn-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .75rem;
}

.delete-modal-btn-wrapper button {
display: flex;
padding: 6px 0px 7px 0px;
justify-content: center;
align-items: center;
border-radius: 5px;
border: none;
}

.red {
    background-color: #ED1C24;
    color: white
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}


.img-upload {
    position: relative;
    width: 40%;
    padding-bottom: 40%; 
    /* overflow: hidden; */
}

.img-upload img {
    /* width: 125px;
    border-radius: .75rem; */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
      border-radius: 10px;

}




.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .file-input-label {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    right: -18;
    bottom: -14;
  }
  
  .custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem; /* Adjust the width and height as needed */
    height: 2.5rem;
    background-color: #3498db; /* Change the background color */
    color: #fff; /* Change the text color */
    border-radius: 50%;
    font-size: 14px; /* Adjust the font size */
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  
  /* Optional hover effect */
  .custom-button:hover {
    background-color: #2980b9; /* Change the hover background color */
  }

  .price-cat-label-wrapper {
    display: flex;
  }

  .price-cat-wrapper {
    display: flex;
    gap: 1rem;
  }

  .price, .cat-select, .price-label {
    width: 50%;
  }

  /* .cat-select {
    background-color: #FFF7ED;

  } */


